.container1-modal
    color: white
   
    &-photo
        display: flex
        // justify-content: space-around
        padding-top: 10px
        &-teacher
            
            &-price
                margin-left: 250px
                               
                h3
                    margin-top: 5px
                    padding-bottom: 5px
                    margin-bottom: 0px
                    font-weight: 500
                    font-size: 15px
                    font-family: Montserrat

    
h1
    font-family: Montserrat
    font-size: 20px
    margin: 5px
    color: #FF9303
    font-weight: 500
h2
    font-family: Montserrat
    font-size: 13px
    margin: 5px
    font-weight: 500
.close
    margin-left: 310px
    margin-top: 5px
    background-color: #2A3558
    
.deleteCourse
    background-color: #2A3558
    color: #FF9303
    border-radius: 10px
    font-size: 16px
    


