.login__container
    height: 43.75rem
    width: 60rem
    border-radius: 10px
    display: flex
    justify-content: space-between
    align-content: center
    overflow: hidden
    font-family: Montserrat
    box-shadow: 5px 5px 10px #686868
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 100
    .imgContent
        width: 50%
        box-sizing: border-box