.program-page
    &-banner
        &-photo
            width: 100%
            height: 350px
        &-button
    &-main
        display: flex
        flex-direction: row
        &-section
            margin: 30px
            width: 70%
            &-tittle
                font-family: Montserrat
                font-weight: 500
                font-size: 50px
                color: #FF9303
                margin-top: -15px
                margin-bottom: 20px
            &-about
                &-tittle
                    font-family: Montserrat
                    font-weight: 700
                    font-size: 30px
                    color: #308BE1
                &-body
                    font-family: Montserrat
                    font-size: 22px
            &-learning
                &-learn
                    display: grid
                    grid-template-columns: auto auto auto
                    grid-auto-rows: auto auto auto
                    margin: 20px 0px
                &-tittle
                    font-family: Montserrat
                    font-weight: 700
                    font-size: 30px
                    color: #308BE1
            &-courses
                &-tittle
                    font-family: Montserrat
                    font-weight: 700
                    font-size: 30px
                    color: #308BE1
                    margin: 30px 0px
        &-tags
            display: flex
            flex-direction: column
            align-items: center
            align-self: flex-start
            justify-content: flex-start
            margin-top: 40px
    
        