.summary-tittle
    color: #2A3558
    font-family: Montserrat
    font-size: 35px
    font-weight: 800
.summary-course
    color: #2A3558
    font-family: Montserrat
    font-size: 25px
    font-weight: 800
.summary-total-tittle
    color: #FF9303
    font-family: Montserrat
    font-size: 30px
    font-weight: 800

  