.learning 
    display: flex
    flex-direction: row
    width: 310px
    margin: 10px
    &-number-label
        display: flex
        background-color: #308BE1
        width: 50px
        height: 50px
        color: white
        font-size: 40px
        font-family: Montserrat
        border-radius: 50%
        justify-content: center
        align-items: center
    &-text
        display: flex
        align-items: center
        width: 230px
        font-size: 18px
        font-family: Montserrat
        margin-left: 10px
        
        

