.cards_container
    display: flex
    flex-direction: row
    justify-content: space-around
.header_premium
    margin: 50px
    .header_tittle
        font-size: 30px
        color:#FF9303
        font-weight: 700
        letter-spacing: 5px
    .header_message
        font-size: 30px
        color:#2A3558
        font-weight: 700
        letter-spacing: 5px


    
