.credit-card
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin: 13px 25px
    width: 50px
    cursor: pointer
    &-logo
        width: 90px
        height: 50px    
    &-selected
        display: flex
        align-items: center
        justify-content: center 
        width: 120%
        height: 5.5px
        background-color: #308BE1
        cursor: pointer
        margin-top: 10px

    