.plan_card_recommended
    display: flex
    flex-direction: column
    background: #2A3558
    width: 280px
    height: 350px
    border-radius: 3%
    border: solid 14px #FF9303
    margin: 0px -300px 0px -300px
    .top
        display: flex
        align-items: center
        margin-left: 30px
        margin-top: 20px
        
        .tittle
            font-family: roboto
            color: white
            font-size: 28px
            font-weight: 1000
        .label 
            background: #FF9303
            width: auto
            height: auto
            padding: 6px
            font-family: roboto
            font-size: 22px
            font-weight: 800
            color: black
            border-radius: 15px
            margin-left: 7px
    .bot
        display: flex
        flex-direction: column
        text-align: left
        margin-left: 30px
        margin-top: -15px
        .time
            color: white
            font-family: roboto
            font-size: 15px
            font-weight: 500
        .message
            color: #FF9303
            font-family: roboto
            font-weight: 700
            margin-top: -3px
        .price
            font-family: roboto
            color: white
            font-size: 28px
            font-weight: 1000
        .button 
            width: 220px
            height: 35px
            border: none
            border-radius: 5px
            color: white
            font-family: roboto
            font-size: 20px
            font-weight: 1000
            background: #FF9303
.plan_card
    display: flex
    flex-direction: column
    text-align: left
    margin-top: 50px
    .tittle
        color:#2A3558
        font-family: roboto
        font-size: 28px
        font-weight: 1000
    .time
        color: #2A3558
        font-family: roboto
        font-size: 15px
        font-weight: 600
        margin-top: -15px
    .price
        font-family: roboto
        color: #2A3558
        font-size: 28px
        font-weight: 1000
    .button 
        width: 180px
        height: 35px
        border: none
        border-radius: 5px
        border: solid 3px #2A3558
        align-self: center
        color: #2A3558
        font-family: roboto
        font-size: 20px
        font-weight: 1000
        background: white
        


        


        